@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.App{
  width: 100%;
  overflow-x: hidden;
  padding-top:100px;
}
.header{
  display: flex;
  justify-content: space-around;
  background-color: rgb(17,24,39);
  color:white;
  padding:5px 20px;
  align-items: center;
  position: fixed;
  top:0;
  width: 100%;
}
.header-logo-name{
  font-size: 24px;
  font-weight: 500;
  margin:10px;
}
.header-logo{
  display: flex;
  align-items: center;
}

.header-links ul{
  display: flex;
  list-style: none;
  
}
.header-links li{
  margin:10px 20px;
  font-weight: 500;
}

.Button{
   padding:10px 20px;
   height: min-content;
   border-radius: 5px;
   border: none;
   font-weight: 500;
   margin:10px;
}
.svg-logo-container{
  display: flex;
  justify-content: center;
  margin:10px;
}
.svg-logo{
  height:40px;
  width: min-content;
  color:#0D9488;
}
.footer{
  padding:30px;
  background-color: #F3F4F6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer ul{
  display: flex;
  list-style: none;
  cursor: pointer;
}
.footer ul li{
  margin:15px;
  color:rgb(90, 90, 90);
}
.footer ul li:hover{
  color:rgb(180, 180, 180);
}
.footer p{
  color:rgb(180, 180, 180);
}
.menu{
  display: none;
}
.card-wrapper{
  padding:20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:20px;
  justify-content: center;
  align-items: center;
}
.card{
  /* padding:10px; */
  /* border: 1px solid grey; */
  border-radius: 10px;
  box-shadow: 2px 2px 7px rgb(213, 210, 210);
  overflow: hidden;

}

.card-info-container > p{
  color:grey;
  font-size: 14px;
}
.type_of_food{
  background-color: rgb(243,244,246);
  padding:15px;
  color:#0D9488;
  font-size: 14px;
}
.card-info-container{
  padding:15px;
}
.star-rating {
  display: inline-block;
}

.star {
  color: #ccc;
  font-size: 18px;
  cursor: pointer;
}

.star.filled {
  color: gold;
}
.search-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
}
input{
  padding:5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
